.rc-tabs {
  width: 100%;
  text-align: left;
}

.rc-tabs_ctn {
  background: #fff;
  border-top: none;
  min-height: 100px;
  padding-left: 20px;
  margin-top: 12px;
  border-radius: 8px 8px 0 0;
}

.rc-tabs_tab_ctn {
  display: flex;
  background: inherit;
  gap: 8px;
  border-radius: 8px 8px 0 0;
}
