.rc-tab {
  background: #4646466e;
  border: none;
  padding: 8px 16px;
  border-bottom: none;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.rc-tab[data-disabled="true"]{
  opacity: 0.7;
  cursor: initial;
  pointer-events: none;
}

.rc-tab:focus {
  outline: none;
}

.rc-tab:hover {
  opacity: 0.8;
}

.rc-tab_active:hover{
  opacity: 0.8;
}

.rc-tab_active {
  z-index: 2;
  background: #fff;
  color: #0f172a;
}

.rc-tab_active[data-disabled="true"] {
  opacity: 0.7;
  cursor: initial;
  pointer-events: none;
}

.rc-tab_icon {
  display: flex;
  align-items: center;
}

.rc-tab_icon > span {
  margin-left: 8px;
}

.rc-tab_icon_right {
  flex-direction: row-reverse;
}

.rc-tab_icon_right > span {
  margin-right: 8px;
  margin-left: 0;
}
